.adressA{
    border: 0.5px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(245, 124, 80);
}
.adressB{
    border: 0.5px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(245, 124, 80);
}

body{
    

}
.formA{
    background: url("lola/Beauty\ Of\ Nature🍀🐞🌲\ on\ Twitter\ _\ Nature\ photography\,\ Phone\ wallpaper\,\ Beautiful\ wallpapers.jpeg");
    background-attachment:fixed;
    background-position: 100% 100%;
    background-size: 1700px 1000px;
    background-repeat: no-repeat;
    border: 0.5px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(245, 124, 80);
    color: rgb(45, 163, 134);
    
}
::placeholder{
    color: rgb(245, 124, 80);
    opacity: 1;
}
input[type=checkbox] {
    color: rgb(245, 124, 80) ;
}
.formB{
    border: 0.5px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(245, 124, 80); 
}